// project less root

html,
body {
    overflow: hidden;
}
.el-scrollbar__bar.is-vertical {
    width: 8px;

    .el-scrollbar__thumb {
        background-color: rgb(175, 163, 231);
        width: 8px;
    }
}
