// project less root

html {
    .scrollbar(#222,10px);
}

body {
    padding-top: @common-header-height;
    background: url("../img/home/bg.jpg") #3c3c3c;
    background-repeat: no-repeat;
    background-size: 3840px 5010px;
    background-position: left top;
    color: #eee;
    min-width: 1440px;
}

* {
    user-select: none;
}

.c-footer {
    max-width: @main-width;
    .auto(x);
    padding: 40px 0;
}

@import "./widget.less";
