// project less root

html {
    .scrollbar(#222,10px);
}

body {
    padding-top: @common-header-height;
    background: url("../img/home/bg.jpg") #3c3c3c;
    background-size: cover;
    background-position: left top;
    color: #eee;
}

@import "./element-override.less";
@import "./widget.less";
