/***
GLOBAL DEFINITION 项目本地全局定义
🚫 WARNING : 不可删除！
***/
.w-pagination {
    justify-content: flex-end;

    .el-pager li.number,
    .el-pager li.more {
        background: #2b2b42;
        color: #b3b3b3;

        &.is-active {
            background: #7650f8;
            color: #ffffff;
        }
    }
}
.w-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background: #131517;
    border-radius: 20px;
    padding: 20px;

    .w-card-title {
        .fz(14px, 18px);
        color: #b3b3b3;
        margin: 0;
    }
}
.w-tabs {
    .u-tab {
        .x(center);
        .fz(14px, 40px);
        cursor: pointer;
        padding: 0 12.5px;
        height: 40px;
        display: inline-block;
        border-radius: 20px;
        color: #fff;
        background-color: #24292e;
        transition: all 0.3s ease-in-out;

        &:not(:last-of-type) {
            margin-right: 20px;
        }
        &.is-active {
            color: #fff;
            background-color: #7650f8;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    --app-font-color: #a798e6;
}

// 重写element-plus的一些变量
:root {
    --el-bg-color: #a798e6;
    --el-text-color-regular: #a798e6;
    --el-text-color-primary: #554d77;
    --el-fill-color-light: #5d528f;
    --el-fill-color: #6d6494;

    --el-color-primary: #b29fff;
    --el-color-primary-light-3: #c6b9ff;
    --el-color-primary-light-5: #dbd2ff;
    --el-color-primary-light-7: #efecff;

    --el-mask-color: #3b3652cc;
}

.el-button--primary {
    --el-button-bg-color: #b29fff;
    --el-button-border-color: #b29fff;
    --el-button-outline-color: #b5a2ff;
}

.el-button.is-text,
.el-button.is-link {
    --el-button-text-color: #b29fff;
    --el-button-disabled-text-color: #8874d6;
    --el-button-hover-bg-color: #8874d6;
    --el-button-hover-link-text-color: #9380df;
}

.el-input,
.el-textarea {
    --el-input-text-color: #ffffff;
    --el-input-bg-color: #b29fff;
    --el-input-border-color: #3b3652;
    --el-input-placeholder-color: #554d77;
    --el-input-hover-border-color: #b29fff;
    --el-input-focus-border-color: #b29fff;
}

.el-dialog {
    --el-dialog-bg-color: #3b3652;
}

.el-table {
    --el-table-border: none;
    --el-table-bg-color: transparent;
    --el-table-tr-bg-color: transparent;
    --el-table-header-bg-color: transparent;
    --el-table-row-hover-bg-color: transparent;

    .el-table__inner-wrapper::before {
        height: 0;
    }
    .el-table__header-wrapper {
        .mb(6px);
        background-color: #3e4afa;
        border-radius: 20px;
        height: 26px;
    }
    th.el-table__cell {
        color: white;
    }
    .el-table__header {
        height: 26px;
    }
    .el-table__cell {
        padding: 0;
    }
    div.cell {
        padding: 3px 2px;
        .fz(14px, 18px);
        .ellipsis;
        transition: all 0.1s ease-in-out;
    }
    .el-table__row {
        color: #b3b3b3;
    }

    .el-table__row.is-focus {
        .el-table__cell {
            div.cell {
                background: #7650f8;
                color: white;
            }
            &:first-of-type {
                div.cell {
                    border-radius: 6px 0 0 6px;
                }
            }
            &:last-of-type {
                div.cell {
                    border-radius: 0 6px 6px 0;
                }
            }
        }
    }
}
