/***
GLOBAL DEFINITION 项目本地全局定义
🚫 WARNING : 不可删除！
***/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
