.m-jba-card {
    .u-jba-token {
        .flex-center;
        cursor: pointer;
        background: #554d77;
        border-radius: 10px;
        color: #b29fff;
        margin: 8px 0;
        padding: 0 6px;
        .bold;
        .fz(20px, 26px);
        .x;

        p {
            margin: 0;
            padding: 16px 6px;
            white-space: nowrap;
        }

        .el-button {
            margin-left: 8px;
        }
        .el-scrollbar {
            flex-grow: 1;
        }
    }

    .u-jba-help {
        display: flex;
        align-items: center;

        a {
            color: white;
        }
    }
}
